{% extends "base.html" %}

{% block title %}Rate edit{% endblock %}

{% block body %}
    <section class="section">
        <div class="container is-widescreen">
            <p>Rate: {{from_currency}} => {{to_currency}}</p>
            <form action="{{url_for('edit_xrate', from_currency=from_currency, to_currency=to_currency)}}"
                  method="POST">
                <div class="field">
                    <div class="control">
                        <input class="input is-normal" type="text" name="new_rate" placeholder="rate" autofocus="">
                        <input class="button" type="submit" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}